html,
body {
    height: 100%;
    background-color: #eeeeee;
}

@viewport {
    width: 540px;
    height: 960px;
}

#game-container {
    overflow-y: auto;
    width: 540px;
    max-height: 960px;
    background-color: #fff;
}

#game-left-side {
    width: 40px;
    position: absolute;
    height: 100%;
    overflow-y: auto;
    background-color: #333;
}

#game-header {
    height: 100px;
    position: relative;
    background-color: #e6e6e6;
}

#game-body {
    height: 80%;
    position: relative;
    margin-left: -1px;
}

#game-footer {
    height: 5%;
    position: relative;
    background-color: #e6e6e6;
}

#game-body div.row {
    max-width: 540px;
    position: relative;
    background-color: #fff;
}

.assignment {
    background-color: #00aee5 !important;
}

.grid-block {
    /* border: 1px solid #f3f3f3;*/
    width: 50px;
    height: 50px;
    display: inline-block;
}

.dead-zone {
    color: #333;
    text-align: center;
    height: 50px;
    width: 40px;
    display: inline-block;
}

.row.person {
    background-color: #FFF !important;
    border-bottom: 1px solid #ccc;
}

.person-zone {
    height: 50px;
    width: 40px;
    display: inline-block;
    border-right: 1px solid #f3f3f3;
}

.play-zone {
    background-color: #FFF !important;
    display: inline-block;
    position: relative;
}

.row.person.first {
    border-top: 2px solid #ccc !important;
}

.thumbnail-person {
    background-image: url(images/person-blank.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 100% !important;
    background-color: #fff !important;
}

.dotted-line {
    background-image: url(images/dotted-line.png);
    background-size: contain;
    background-position: right;
    background-repeat: repeat-y;
    height: 100% !important;
    background-color: #fff !important;
    display: none;
}

.selected-person > div {
    background-color: #e5e5ff !important;
}