html,
body {
    height: 100%;
}

body {
    background: #3f3f3f;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'American Typewriter', 'Marker Felt';
}

#tetris {
    left: 50%;
    position: absolute;
    background: #555;
}

#scene {
    top: 100px;
    right: 0;
    position: absolute;
    background: #2f2f2f;
}

#gameOver {
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, .75);
    z-index: 999;
    color: #ffe100;
    text-align: center;
    display: none;
}

#gameOver h1 {
    margin-top: 50%;
}

#gameOver a,
#gameOver a:visited {
    color: #66bc29;
    text-decoration: none;
}

#gameOver h3 {
    color: orange;
}

#side {
    height: 100%;
    position: absolute;
    top: 0;
    left: -50px;
    width: 50px !Important;
    background-color: #f3f3f3;
    text-align: center;
    display: none;
}

#info {
    position: absolute;
    height: 100px;
    margin: 0 auto;
    background-color: #e6e6e6;
    z-index: 10000000000;
    width: 100%;
    right: 0;
}

#preview {
    width: 250px;
    height: 50px;
    position: absolute;
    right: 37%;
    top: 20px;
}

#levelInfo {
    color: #00000;
    font-size: 12px;
    padding: 0;
    margin: 0;
    margin-left: 2px;
    text-align: center;
}

#people {
    width: 100%;
    position: absolute;
    bottom: -1.4px;
}

#people div {
    border-top: .5px solid #00aee5;
    border-radius: 2px;
    border-right: .5px solid #00aee5;
    background-color: #e5e9ec;
}

#level {
    color: black;
    font-size: 20px;
}

#scoreInfo {
    color: #000000;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

#score {
    color: black;
    font-family: 'Chalkboard SE';
}

#rewardInfo {
    color: yellow;
    font-weight: bold;
    height: 20px;
}

.invisible {
    visibility: hidden;
}

.animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes fadeOutUp {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

.fadeOutUp {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
}