html,
body {
    height: 100%;
    background-color: #eeeeee;
}

#game-container {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    background-color: #fff;
}

#game-left-side {
    width: 10%;
    position: absolute;
    height: 100%;
    overflow-y: auto;
    background-color: #333;
}

#game-header {
    height: 15%;
    position: relative;
    background-color: #e6e6e6;
}

#game-body {
    height: 80%;
    position: relative;
}

#game-footer {
    height: 5%;
    position: relative;
    background-color: #e6e6e6;
}

#game-body div.row {
    height: 10%;
    position: relative;
    background-color: #fff;
}

.assignment {
    background-color: #00aee5 !important;
}

.grid-block {
    border: 1px solid #f3f3f3;
    width: 10%;
    display: inline-block;
    height: 100%;
}

.dead-zone {
    color: #333;
    text-align: center;
    height: 100%;
    width: 10%;
    max-width: 80px;
    display: inline-block;
}

.row.person {
    background-color: #FFF !important;
    border-bottom: 1px solid #ccc;
}

.person-zone {
    height: 100%;
    width: 10%;
    max-width: 80px;
    display: inline-block;
}

.play-zone {
    background-color: #FFF !important;
    height: 100%;
    width: 90%;
    display: inline-block;
    position: relative;
}

.row.person.first {
    border-top: 2px solid #ccc !important;
}

.thumbnail-person {
    background-image: url(images/person-blank.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 100% !important;
    background-color: #fff !important;
}

.dotted-line {
    background-image: url(images/dotted-line.png);
    background-size: contain;
    background-position: right;
    background-repeat: repeat-y;
    height: 100% !important;
    background-color: #fff !important;
    display: none;
}

.selected-person > div {
    background-color: #e5e5ff !important;
}